body {
  background: #f9e933;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

header {
  background: white;
  overflow: auto;
}

h1{
  float: left;
  width: 570px;
}

header nav {
  float: right;
  width: 285px;
}

main {
  background: olive;
  overflow: auto;
  color: white;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 1em;
  padding: 1em;
}
.question{
  border: 2px solid white;
  padding: 15px;
  margin: 15px;
  background: olive;
  color: white;
  list-style-type: none;
  box-shadow: 10px 10px 5px black;
  border-radius: 5px;
}

main .left {
  float: left;
  width: 570px;
}

main .right {
  float: right;
  width: 285px;
}

footer .left {
  float: left;
  width: 570px;
}

footer .sitemap {
  float: right;
  width: 285px;
}